/* Variables and mixins declared here will be available in all other SCSS files */

// Overriding Bootstrap

$border-radius: 0.5rem;
$border-radius-lg: $border-radius;

$modal-sm: 364px;
$modal-md: 576px;
$modal-ld: 768px;
$modal-xl: 992px;
$modal-backdrop-opacity: 0.4;

$toast-max-width: 420px;

// Custom variables

$texasRed: rgb(172, 92, 0);
$pageBarTextColor: #181818;

$majorButtonColor: rgb(255, 207, 117);
$minorButtonColor: #ddd;

$blueLinkForeColor: #0150e4;
$blueLinkBackColor: #0c6efd;

$horizontalMargin: 1rem;
$verticalMessagePosition: 30%;

$backgroundColor: #eee;

$deemphOpacity: 0.6;