/* Variables and mixins declared here will be available in all other SCSS files */

// Overriding Bootstrap

$border-radius: 0.5rem;
$border-radius-lg: $border-radius;

$modal-sm: 364px;
$modal-md: 576px;
$modal-ld: 768px;
$modal-xl: 992px;

$toast-max-width: 420px;

// Custom variables

$texasRed: rgb(172, 92, 0);
$pageBarBackgroundColor: #eee;
$pageBarTextColor: #333;
$pageBarBorderColor: #aaa;
$activityAreaBackgroudColor: #fff;

$majorButtonColor: rgb(255, 207, 117);
$minorButtonColor: #ddd;

$blueLinkColor: #0150e4;

$horizontalMargin: 1rem;
$verticalMessagePosition: 30%;
